[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
jupyter = "*"
tweepy = "*"
python-dotenv = "*"
spacy = "*"
sklearn = "*"
matplotlib = "*"
pandas = "*"

[requires]
python_version = "3.8"
